.rarity-icon {
    width: 30px;
    height: auto;
}

.rarity-button:hover {
    cursor: pointer;
}

.rarity-button {
    padding: 0;
    border: none;
    background-color: transparent;
}

.rarity-inactive {
    opacity: 0.4;
}

.class-invisible {
    display: none;
    visibility: hidden;
}

.weapon-invisible {
    display: none;
    visibility: hidden;
}

.class-button {
    border: none;
    background-color: transparent;
    width: 60px;
    height: 60px;
}

.weapon-button {
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    background-color: gray;
    border-radius: 2px;
}

.image-class {
    width: inherit;
    height: inherit;
    display: block;
    position: relative;
    outline-offset: -8px;
    z-index: 2;
}

.image-weapon:hover {
    cursor: pointer;
}

.image-class:hover {
    cursor: pointer;
    filter: brightness(80%) invert(0) sepia(0) saturate(1000%) hue-rotate(90deg);
}

.class-outline {
    width: inherit;
    height: inherit;
    position: absolute;
    z-index: 1;
    outline: 6px solid rgba(128, 128, 128, 0.7);
    outline-offset: -8px;
}

.image-weapon {
    width: inherit;
    margin: 0;
    height: inherit;
}

.selected-rarity {
    background-color: gray;
    color: white;
}

.class-invisible {
    display: none;
    visibility: none;
}