.rarity-icon {
    width: 30px;
    height: auto;
}

.rarity-button:hover {
    cursor: pointer;
}

.rarity-button {
    padding: 0;
    border: none;
    background-color: transparent;
}

.rarity-inactive {
    opacity: 0.4;
}
