.underline {
    text-decoration: underline;
}

.color-cryo {
    color: #00C0CB;
}

.color-heat {
    color: #FF5A50;
}

.color-nature {
    color: #9CD54A;
}

.color-electric {
    color: #FDC038;
}

.color-physical {
    color: #DFBB92;
}

.color-healing {
    color: #ABD040
}

.color-stagger {
    color: #FFAE6B;
}

.color-numeric {
    color: #8DA2DF;;
}

.color-keyword {
    color:#33C2FF;
}

.image-icon {
    height: 1em;
    width: auto;
}



.image-class {
    width: 40px;
    height: 40px;
    background-color: black;
}

.image-weapon {
    width: 40px;
    height: 40px;
    background-color: black;
}

.selected-class {

}

.selected-weapon {
    background-color: gray;
}