@font-face {
    font-family: "Harmony OS Sans Regular";
    src: url('fonts/harmonyossans/HarmonyOS_Sans_Regular.woff2');
}

@font-face {
    font-family: "Harmony OS Sans Bold";
    src: url('fonts/harmonyossans/Bold.woff2');
}

.underline {
    text-decoration: underline;
}

.color-cryo {
    color: #00C0CB;
}

.color-heat {
    color: #FF5A50;
}

.color-nature {
    color: #9CD54A;
}

.color-electric {
    color: #FDC038;
}

.color-physical {
    color: #DFBB92;
}

.color-healing {
    color: #ABD040
}

.color-stagger {
    color: #FFAE6B;
}

.color-numeric {
    color: #8DA2DF;;
}

.color-keyword {
    color:#33C2FF;
}

.image-icon {
    height: 1em;
    width: auto;
    margin-right: 2px;
}

.body-text {
    font-family: 'Harmony OS Sans Regular', sans-serif;
}

.body-text-bold {
    font-family: 'Harmony OS Sans Bold', sans-serif;
    font-weight: bold;
}

.footnote-text {
    color:  #4f4f4f;
}

.image-class {
    width: 40px;
    height: 40px;
    background-color: black;
}

.image-weapon {
    width: 40px;
    height: 40px;
    background-color: black;
}

.selected-class {
    background-color: gray;
}

.selected-weapon {
    background-color: gray;
}

.selected-rarity {
    background-color: gray;
    color: white;
}