body {
    display: flex;
    flex-direction: row;
    background-color: rgb(155, 154, 154);
}

#buttons-col-1 {
    width: 33%;
}

#display-box-column {
    width: 33%;
}

.invisible {
    display: none;
    visibility: hidden;
}