.popup-box {
    background-color: #313131;
    width: 400px;
    color: rgb(204, 204, 204);
    padding: 2%;
    border-radius: 10px;
}

.popup-box-invisible {
    display: none;
    visibility: hidden;
}

.popup-top-row {
    display: flex;
}

.popup-edit-button {
    padding-right: auto;
}

.popup-edit-image {
    width: 20px;
    height: auto; 
    margin-bottom: 3px;   
    filter: brightness(0%) invert(1) sepia(1) saturate(10000%) hue-rotate(8deg);
}

.popup-label {
    display: block;
    width: auto;
    margin-left: auto;
    text-align: right;
    color: #929292;
}

.popup-name {
    background-color: inherit;
    border: none;
    color: rgb(204, 204, 204);
    font-size: 20px;
    padding: 0;
}

.popup-rank-label {
    color: #919090;
}

.popup-seperator-line {
    width: 100%;
    height: 1px;
    background-color: #919090;
    margin-top: 2px;
}

.popup-bot-row {
    display: flex;
    flex-direction: column;
}

.popup-edit {
    width: 100%;
    field-sizing: content;
    resize: none;
    background-color: #3f3f3f;
    color: white;
}

.edit-box-invisible {
    display: none;
    visibility: hidden;
}

.popup-display {
    background-color: inherit;
    color: rgb(204, 204, 204);
    margin-top: 3px;
}

.selected-button {
    background-color: gray;
}

button.strip-style {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
}

