css/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inactive-stat {
    filter: brightness(80%) invert(1) hue-rotate(90deg);
    background-color: transparent;
}

.sub-stat {
    background-color: gray;
}

.main-stat {
    background-color: rgb(211, 211, 49);
}

.stat-box {
    display: flex;
    flex-direction: column;
    width: 60px;
    justify-content: center;
    align-items: center;

}

#char-stats {
    width: auto;
    display: flex;
    flex-direction: row;
}

.stat-image {
    width: 100%;
    height: 100%;
    border-radius: 2px;
}

.stat-label {
    margin-bottom: 0px;
}

.stat-input {
    width: 80%;
    text-align: center;
    border: none;
    padding-top: 2px;
    background-color: transparent;
}

.stat-input:hover {
    outline: 2px solid black;
    outline-offset: -1px;
    border-radius: 2px;
}

.stat-button {
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    margin: 5px;
    border-radius: 2px;
}

.stat-button:hover {
    cursor: pointer;
}