@font-face {
    font-family: "Harmony OS Sans Regular";
    src: url('fonts/harmonyossans/HarmonyOS_Sans_Regular.woff2');
}

@font-face {
    font-family: "Harmony OS Sans Bold";
    src: url('fonts/harmonyossans/Bold.woff2');
}

.talent-display {
    background-color: inherit;
    color: rgb(204, 204, 204);
    margin-top: 3px;
}

.talent-button {
    width: auto;
    height: 20px;
}

.selected-talent {
    background-color: gray;
}

.talent-box-invisible {
    display: none;
    visibility: hidden;
}

.edit-box-invisible {
    display: none;
    visibility: hidden;
}

#talents-boxes {
    display: flex;
    align-items: flex-start;
    height: auto;
}

#talents-buttons {
    display: flex;
}

.talent-display {
    width: auto;

}

.talent-box {
    background-color: #313131;
    width: 400px;
    color: rgb(204, 204, 204);
    font-family: 'Harmony OS Sans Regular';
    padding: 0.6%;
    border-radius: 10px;
}

#talent-popups {
    position: relative;
    flex: 1;
}

.talent-label {
    display: block;
    width: auto;
    margin-left: auto;
    text-align: right;
    color: #929292;
}

.talent-edit-image {
    width: 20px;
    height: auto; 
    margin-bottom: 3px;   
    filter: brightness(0%) invert(1) sepia(1) saturate(10000%) hue-rotate(8deg);
}

.talent-top-row {
    display: flex;
}

.talent-edit-button {
    padding-right: auto;
}

.talent-bot-row {
    display: flex;
    flex-direction: column;
}

.talent-name {
    background-color: inherit;
    border: none;
    color: rgb(204, 204, 204);
    font-size: 20px;
    padding: 0;
}

.talent-rank-label {
    color: #919090;
}

.talent-seperator-line {
    width: 100%;
    height: 1px;
    background-color: #919090;
    margin-top: 2px;
}

button.strip-style {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
}

.talent-edit {
    width: 100%;
    field-sizing: content;
    resize: none;
    background-color: #3f3f3f;
    color: white;
}